<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    {% block styles %}
    
    {% endblock %}
</head>

<body>
    <!-- Header -->
    <header>
        <nav id="navigation">
            <img id="logo" src="{{ url_for('static', filename='img/logo.webp') }}" alt="logo">
        
            <div id="menu-container">
                <ul id="menu-navigation">
                    <li class="menu-item">
                        <a href="/home">CHOPP DO MAYRES</a>

                        <span class="material-symbols-outlined">keyboard_arrow_down</span>

                        <ul class="submenu-navigation">
                            <a href="{{ url_for('user.signup') }}"><li class="submenu-item" >QUEM SOMOS</li></a>
                            <a href="{{ url_for('user.signup') }}"><li class="submenu-item" ">FUNDADOR</li></a>
                        </ul>

                    </li>

                    <li class="menu-item">
                        <a id="teste" href="/about">NOSSAS CERVEJAS</a>

                        <span class="material-symbols-outlined">keyboard_arrow_down</span>

                        <ul class="submenu-navigation">
                            <a href="{{ url_for('user.signup') }}"><li class="submenu-item" >PILSEN</li></a>
                            <a href="{{ url_for('user.signup') }}"><li class="submenu-item" ">IPA</li></a>
                            <a href="{{ url_for('user.signup') }}"><li class="submenu-item" ">WEISS</li></a>
                            <a href="{{ url_for('user.signup') }}"><li class="submenu-item" >AMERICAN ALE</li></a>
                        </ul>

                    </li>

                    <li class="menu-item">

                        <a href="{{ url_for('main.help') }}">CONTATO</a>

                    </li>
                </ul>
            </div>
        
            <div class="user-profile-home">
                <a id="perfil-usuario" href="{{ url_for('user.login') }}">
                    <span class="material-symbols-outlined">person</span>
                    {% if not user_name %}
                        <span>Faça o login!</span>
                    {% else %}
                        <span>Olá, {{ user_name }}</span>
                    {% endif %}                
                </a>
            </div>
            
            <a id="compre-aqui-button" >COMPRAR</a>

        </nav>        
    </header>

    <!-- Conteúdo Principal -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Chopp do Mayres. Todos os direitos reservados.</p>
    </footer>
</body>

</html>